<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor=#ff4500>
<center>
    <h1>
<form action="./calculate" method="get">
      Enter first number:<input type="text" name="t1"><br>
      Enter second Number:<input type="text" name="t2"><br>
      <input type="submit" value="add"name="opt"><br>
      <input type="submit" value="sub" name="opt"><br>
      <input type="submit" value="mul" name="opt"><br>
      <input type="submit" value="div" name="opt"><br>
</form>
    </h1>

    </center>
</body>
</html>